:root {
  --white: white;
  --orange: #e89d40;
  --purple: #9335ff;
  --lblue: #27aae1;
  --background-color: #f2f2f2;
  --text:  #999999;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin tile-size {
  min-width: 320px;
  max-width: 768px; 
}

body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  background-color: var(--background-color);
  color: var(--text);
  font-size: 0.9em;
}